body {
  background: #0d0d0d;
  color: white;
  font-family: Arial;
}

header {
  text-align: center;
  padding: 30px;
  background: #111;
}

nav a {
  margin: 10px;
  color: cyan;
  text-decoration: none;
}

button {
  padding: 10px;
  background: cyan;
  border: none;
  cursor: pointer;
}
